
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


@font-face {
  font-family: 'Harbour';
  font-style:  normal;
  font-weight: 400;
  src: url("/font/Harbour/Harbour.ttf") format("ttf")
}


html{
  height: 100%;
}

body{
  background-color: #B52020;
  font-family: Harbour, sans-serif;
  height: 100%;
  color: #fff;
  overflow-x: hidden;
}


a{
  color: #fff;
}

a:hover{
    color: initial;
    text-decoration: none;
}


h2{
  font-size: 77px;

}

.cust-btn{
  margin-top: 15px;
  height: 44px;
  width: 70%;
  font-size: 20px;
  border-radius: 24px;
  color: #B52020;
  background-color: white;
  border: none;
}

.input-style{
                            width:220px;
                            padding:2px;
                            border:none;
                            outline:none;
                            background:none;
                            color: #fff;
                            border-bottom:1px solid #fff;
                            margin-bottom:8px;
                            font-size:20px;
}

#form{
  width: 300px;
  height: 300px;
  padding-top: 10%;
  margin: 150px auto
}

#form_2{
  width: 220px;
  margin: 0px auto;
}



.titre{
  font-size: 45px;
  color: #fff;
  text-align: center;
}


::placeholder{
  color: white;
  opacity: 0.5;
}


.cont-cust{
  height: 100%;
}

.row{
  height: 100% !important;
}

.divleft{
  width: 863px;
  height: 863px;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}


.custom-add{
  background-color: #401616 !important;
  height: 122px;
  border-bottom-left-radius: 5493px 392px;
  border-bottom-right-radius: 5273px 392px;
  z-index: -1;
}

.code-btn{
  margin-top: 15px;
  height: 54px;
  width: 17%;
  font-size: 30px;
  border-radius: 24px;
  color: #B52020;
  background-color: white;
  border: none;
}


.ind-img{
  width: 7%;
}

li{
  list-style-type: none;
}






#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  background-color: transparent;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  color: #fff;
  font-size: 30px;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-style: italic;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.modal-img{
  padding-top: 20px;
  width: 10%;
}

.modal-img2{
  padding-top: 20px;
  width: 20%;
}




.modal-backdrop.show {
  opacity: 0.2 !important;
}